main.main
  .main_content
    p.lets_eat WELCOME TO THE GREEN FOOD
    p.quote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde natus ipsam veniam voluptate illo laborum quaerat.
    button.view_item
      | VIEW MENUS
      span.rigth_arrow &#8594;

