mixin reviewsCard
        .review
          .review-details
            img(src='/img/review.jpg')
            .review-by-nameAnddate
              span Rohit Kumar
              br
              span 1 month ago
          .main-review
            p
              |  I recently had the pleasure of trying the rice dishes at this fantastic eatery, and I must say, they left a lasting impression. The variety of flavors and textures in their rice dishes is truly remarkable. Each grain was perfectly cooked and had a delightful fluffiness that added to the overall experience. The presentation of the rice dishes was also commendable, with vibrant colors and enticing aromas. While I thoroughly enjoyed my meal, a touch more seasoning would have elevated the flavors even further. Nonetheless, this place is definitely worth a visit for all rice enthusiasts.
          .review_star &starf;&starf;&starf;&starf;&star;