footer.footer
      .footer_data
        .footer_logo
          img.footer_img(alt='logo', src='/img/green-food.png')
        .footer_links
          span
            a(href='#') About us
          span
            a(href='#') Download app
          span
            a(href='#') Contact
          |  
          span
            a(href='#') Join us 
      .copy_right
        p
          a(href='#') &copy; 2023 by Sitaram Mewada&#x2764;&#xFE0F;