main.main
  .main_content
    p.lets_eat
      i
        span.before &quot;
        //- | let&apos;s eat
        | Order now
        span.after &quot;
    p.quote
      i
        | &ldquo;One cannot think well, love well, 
        br
        | sleep well, if one has not dined well.&rdquo;
    button.view_item
      | view menus 
      span.rigth_arrow &#8594;
  .burgur_div
    img.burgur_img(src='/img/burger.png' alt='burger img')
