<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GreenFood</title>
        <link rel="icon" href="../public/img/favicon.png"> 
        <link rel="stylesheet" href="./index.css"/>     
    </head>
<body> 
    <!-- <div class="alert alert--error">
        Successfully logged in!
       </div> -->
<div class="head_div"> 
    <header class="header">
        <img class="img_logo" src="../public/img/Food-logo.png" alt="logo">
        <div class="header_div">
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="navbar_link border_buttom" href="#">HOME</a></li>
                <li><a class="navbar_link" href="#">ABOUT</a></li>
                <li><a class="navbar_link" href="#">CONTACT</a></li>
                <div class="button_span">
                <button class="login">LOGIN</button>
                <button class="signup">SIGN UP</button>
                <div class="user_profile_dp_div"><img class="user_profile_dp" src="../img/dp.jpg">
                <div class="dropdown_list">
                    <div>Orders</div>
                    <div>Password reset</div>
                    <div>Message</div>
                    <div>Help</div>
                </div>
                </div>
                </div> 
            </ul> 
        </nav>
        <div class="mobile-navbar-btn">
            <iconify-icon name="menu-outline"  style="color: white;" class="mobile_nav_icon"  width="40" height="40" icon="ic:baseline-menu"></iconify-icon>
            <iconify-icon name="close-outline" style="color: black;"" class="mobile_nav_icon"  width="40" height="40" icon="ic:round-close"></iconify-icon>
        </div>
        </div>
    </header> 
    <main class="main">
        <div class="main_content">
          <p class="lets_eat">WELCOME TO THE GREEN FOOD</p>
          <p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde natus ipsam veniam voluptate illo laborum quaerat.</p>
          <button class="view_item">VIEW MENU<span class="rigth_arrow">&#8594</span></button>
        </div>
      </main>
    <!-- <main class="main">
      <div class="main_content">
        <p class="lets_eat"><i><span class="before">"</span>let's eat<span class="after">"</span></i></p>
        <p class="quote"><i>“One cannot think well, love well, </br>sleep well, if one has not dined well.”</i></p>
        <button class="view_item">view item <span class="rigth_arrow">&#8594</span></button>
      </div>
      <div class="burgur_div"> 
        <img class="burgur_img" src="../public/img/burger.png" alt="burger img">
      </div>
    </main> -->
</div>
    <section class="section-hero"> 
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-9.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon><span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn"><a href="">DETAILS</a></button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-6.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon><span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn">DETAILS</button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-5.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon><span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn">DETAILS</button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-3.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon><span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn">DETAILS</button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-10.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon><span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn">DETAILS</button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
          <div class="card">
            <div class="card_img_div">
                <img class="card_img" src="../public/img/menu/food-8.jpg">
            </div>
            <div class="card_data">
            <h5 class="food_name">Potato Burger</h5>
            <p class="food_category">Burger</p>
            <div class="kacl_div">
            <span><iconify-icon class="card_fire_kcal" icon="mdi:fire" width="25" height="25" style="color: black;"></iconify-icon>
            <span class="kcalary">220-280 Kcal</span></span>
            <span class="veg_nonveg">Veg</span>
            </div>
            <div class="pricing">
                <div class="price_btn">
                <p class="price_pera"><span class="price_money"><b>₹99.34</b></span> per person</p>
                <button class="details_btn">DETAILS</button>
                </div>
                <p class="rating_pera"><span class="rating"><b>4.5</b></span> rating (11)</p>
            </div>
            </div>
          </div>
    </section>
    <script src="./index.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
</body>
</html>