<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GreenFood</title>
        <link rel="icon" href="../dev-data/img/favicon.png">
        <link rel="stylesheet" href="./index.css"/>     
    </head>
<body>
<main class="order_main">
  <div style="height: auto;" class="head_div"> 
    <header class="header">
        <img class="img_logo" src="../img/Food-logo.png" alt="logo">
        <div class="header_div">
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="navbar_link border_buttom" href="#">HOME</a></li>
                <li><a class="navbar_link" href="#">ABOUT</a></li>
                <li><a class="navbar_link" href="#">CONTACT</a></li>
                <div class="button_span">
                <button class="login">LOGIN</button>
                <button class="signup">SIGN UP</button>
                <div class="user_profile_dp_div"><img class="user_profile_dp" src="../img/dp.jpg">
                <div class="dropdown_list">
                    <div>Orders</div>
                    <div>Password reset</div>
                    <div>Message</div>
                    <div>Help</div>
                </div>
                </div>
                </div> 
            </ul> 
        </nav>
        <div class="mobile-navbar-btn">
            <iconify-icon name="menu-outline"  style="color: white;" class="mobile_nav_icon"  width="40" height="40" icon="ic:baseline-menu"></iconify-icon>
            <iconify-icon name="close-outline" style="color: black;"" class="mobile_nav_icon"  width="40" height="40" icon="ic:round-close"></iconify-icon>
        </div>
        </div>
    </header> 
    </div>
    <div class="order_div">
      <div class="order_main_div">
        <div class="order_img_div">
          <p class="order_food_name"><span class="first">Potato</span><br><span class="second">Roll</span></p>
          <img src="../img/food-5.jpg" alt="food" class="order_img">
        </div>
        <div class="order_description">
          <p class="order_desc">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos provident 
            error vero eum consectetur ipsam nostrum deleniti soluta quas amet. Magni 
            animi neque, est ab in iusto magnam perferendis. Quod?
          </p>
        </div>
        
        <div class="order_form_div">
          <form class="order_form">
            <div class="order_form_input_div">
            <input type="text" placeholder="Name">
            <input type="tel" placeholder="Phone number"><br>
            <input type="number" placeholder="Quantity">
            <input class="order_location" type="text" placeholder="Address"><br>
            </div>
            <span class="order_total_price">Total - ₹99.34</span>
            <button class="order_btn">Order</button>
          </form>
        </div>
        <footer class="footer">
          <div class="footer_data">
           <div class="footer_logo">
            <img class="footer_img" alt="logo" src="../img/green-food.png">
           </div>
            <div class="footer_links">
              <span><a href="#">About us</a></span>
              <span><a href="#">Download app</a></span>
              <span><a href="#">Contact</a></span> 
              <span><a href="#">Join us</a></span>
            </div>
            </div>
            <div class="copy_right"><p><a href="#">&#169; 2023 by Sitaram Mewada❤️</a></p></div>
        </footer>
      </div>
    </div>     
</main>
</body> 
</html>
