<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GreenFood</title>
        <link rel="icon" href="../dev-data/img/favicon.png">
        <link rel="stylesheet" href="./index.css"/>    
        <script defer src="./profile.js"></script>
    </head>
<body>
    <div class="head_div"> 
    <header class="header">
        <img class="img_logo" src="../img/Food-logo.png" alt="logo">
        <div class="header_div">
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="navbar_link border_buttom" href="#">HOME</a></li>
                <li><a class="navbar_link" href="#">ABOUT</a></li>
                <li><a class="navbar_link" href="#">CONTACT</a></li>
                <div class="button_span">
                <button class="login">LOGIN</button>
                <button class="signup">SIGN UP</button>
                <div class="user_profile_dp_div"><img class="user_profile_dp" src="../img/dp.jpg">
                <div class="dropdown_list">
                    <div>Orders</div>
                    <div>Password reset</div>
                    <div>Message</div>
                    <div>Help</div>
                </div>
                </div>
                </div> 
            </ul> 
        </nav>
        <div class="mobile-navbar-btn">
            <iconify-icon name="menu-outline"  style="color: white;" class="mobile_nav_icon"  width="40" height="40" icon="ic:baseline-menu"></iconify-icon>
            <iconify-icon name="close-outline" style="color: black;" class="mobile_nav_icon"  width="40" height="40" icon="ic:round-close"></iconify-icon>
        </div>
        </div>
    </header> 
    </div>
    <main class="profile_main">
        <div class="settings">
            <h3 class="settings_h3">SETTINGS</h3>
            <div class="settings_features">Edit Profile</div> 
            <div class="settings_features">New Password</div> 
            <div class="settings_features">Feedback</div>
            <div class="settings_features">Join Us</div>
            

        </div>
        <div class="my_orders">
            <div class="upload_user_image">
                <!-- <h3 class="uploader_user_name">Jonash</h3> -->
                <img class="uplole_imaged_profile" src="../img/profile.webp">
                <label class="input_user_image_label" for="input_file">UPDATE IMAGE</label>
                <input class="input_user_profile" id="input_file" type="file" accept="image/jpeg, image/png, image/jpg">
            </div>
            <div class="pre_order_details">
                <div class="pre_order_img_price">
                    <img class="pre_order_img" src="../img/food 1.jpg">
                    <div class="pre_order_price_name">
                        <h3>POTATO ROLL</h3>
                        <p class="price_pera"><span class="price_money"><b>₹99.34</b></span></p>
                    </div>
                </div>
                <div class="order_date">
                    <span style="font-weight: 600;">1 day ago</span><br>
                    
                </div>
                <p class="pre_order_address">245, vilar angar, lalghati ,bhopal 465337</p>
            </div>
        </div>
    </main>
    <footer style="background-color: #ffff;" class="footer">
        <div class="footer_data">
         <div class="footer_logo">
          <img class="footer_img" alt="logo" src="../img/green-food.png">
         </div>
          <div class="footer_links">
            <span><a href="#">About us</a></span>
            <span><a href="#">Download app</a></span>
            <span><a href="#">Contact</a></span> 
            <span><a href="#">Join us</a></span>
          </div>
          </div>
          <div class="copy_right"><p><a href="#">&#169; 2023 by Sitaram Mewada❤️</a></p></div>
      </footer>
</body>