<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GreenFood</title>
        <link rel="icon" href="../dev-data/img/favicon.png">
        <link rel="stylesheet" href="./login.css"/>
    </head>
<body>
    <main class="main">
         <div class="login_div">
             <img class="greenFood_logo" src="../dev-data/img/green food.png" alt="logo"> 
             <p class="welcome_heading">Welcome to GreenFood</p>
             <form class="login_form">  
                <input class="input input_email" type="email" placeholder="Email"> 
                <input class="input input_password" type="password" placeholder="Password"></form> 
                <input class="input input_confirmPassword" type="password" placeholder="confirm password"> 
                <!-- <p class="forget_pass-pera"><i>forget password?</i></p> -->
                <button class="login_button">SIGN UP</button>
                <div class="line"></div>
                <p class="signup_pera">Already have an account ? <span class="signup_span"> LOGIN</span></p>
             </form>
         </div>
    </main>
</body>